    body {
    background-image: url("http://dishofsoul.com/extfiles/47df1e34.png");

}

.calculator {
    width: 300px;
    height: 450px;
   
    background-color: gray;
   background-image: url("http://dishofsoul.com/extfiles/calc2.png");

    margin: 0 auto;
    border-top-left-radius: 80% 70px;
    border-top-right-radius: 80% 70px;
    border-bottom-left-radius: 80% 70px;
    border-bottom-right-radius: 80% 70px;
    box-shadow: inset 5px 0 10px -5px #635e61, inset -5px 0 10px -5px #635e61, inset 0px -5px 10px -2px #635e61, 0 0 1px 2px #635e61, 0 10px 20px 0 #494547;
    text-align: center;

 
}
.title{
    text-align: center;
        color: navajowhite;
    padding-top: 50px;
    padding-bottom: 35px;
}

#screen {
    background-color: #C7C7B0;
    border: 1px solid #b2b292;
    width: 80%;
    height: 60px;
    font-size: 55px;
    text-align: right;
    font-family: 'Montserrat';
    margin-bottom: 20px;
    padding-left: 55px;
    border-radius: 5px;
    box-shadow: inset 0px -2px 10px #b2b292;
}

.calculator p#title {
    padding-top: 10px;
    margin-bottom: -10px;
    color: navajowhite;
    font-family: sans-serif;
    font-weight: bold;
}

.calculator p#tag {
    text-transform: uppercase;
    color: navajowhite;
    font-family: 'Open Sans';
    font-size: .7em;
}

.calculator .row {
    display: block;
    padding: 5px;
}

.redButton,
.squareButton {
    border-radius: 13px;
    border: 2px solid;
    border-color: dimgray;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px;
    text-decoration: none;
    width: 50px;
    height: 50px;
}

.redButton {
    -moz-box-shadow: inset 0px 37px 0px -24px #e67a73;
    -webkit-box-shadow: inset 0px 37px 0px -24px #e67a73;
    box-shadow: inset 0px 37px 0px -24px #e67a73;
    background-color: #e4685d;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
}

.squareButton {
    background: #6f7273;
    background-image: -webkit-linear-gradient(top, #6f7273, #000000);
    background-image: -moz-linear-gradient(top, #6f7273, #000000);
    background-image: -ms-linear-gradient(top, #6f7273, #000000);
    background-image: -o-linear-gradient(top, #6f7273, #000000);
    background-image: linear-gradient(to bottom, #6f7273, #000000);
    -webkit-border-radius: 13;
    -moz-border-radius: 13;
    border-radius: 13px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    -webkit-border-radius: 13;
    -moz-border-radius: 13;
    border-radius: 13px;
    font-family: Arial;
    color: #ffffff;
}

.long {
    width: 50px;
    height: 80px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    .number:hover {
        background-color: #eb675e;
    }
    .myButton:active {
        position: relative;
        top: 1px;
    }